.test-container {
  display: flex;
  flex-direction: column;
}

.father-container-content-box {
  box-sizing: content-box;
  background-color: rgb(74, 134, 6, 0.3);
  width: 100px;
  padding: 8px;
  border: 10px solid #910606;
}

.father-container-border-box {
  box-sizing: border-box;
  background-color: rgb(74, 134, 6, 0.3);
  width: 100px;
  padding: 8px;
  border: 10px solid #910606;
}
