
.father-container-content-box{
    box-sizing: content-box;
    background-color: rgb(74, 134, 6, 0.3);
    padding: 80px;
    width: 200px;
    border: 10px solid #910606;
}


.father-container-border-box{
    box-sizing: border-box;
    background-color: rgb(74, 134, 6, 0.3);
    padding: 80px;
    width: 200px;
    border: 10px solid #910606;
}